body {
  background-color: lightsalmon;
}

table {
	border-collapse: separate;
  border-spacing: 5px;
  border: medium solid black;
  margin: 25px auto;
}

th, td {
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;;
}

th {
    font-weight: bold;
}

img.home {
    position: relative;
    width: 50%;
}

nav {
  display: inline-block;
}