body {
  background-color: lightsalmon;
}

table {
	border-collapse: separate;
  border-spacing: 5px;
  border: medium solid black;
  margin: 25px auto;
}

th, td {
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;;
}

th {
    font-weight: bold;
}

img.home {
    position: relative;
    width: 50%;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: firebrick;
}

nav div {
  display: inline-block;
  margin: 10px;
  width: auto;
  border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: firebrick;
}

#intro {
  background-color: firebrick;

}

section h1 {
  font-size: 2em;
}